/* Universal */
:root {
    --content-bg: rgb(29, 29, 29);
    --border-color: rgb(46, 46, 46);

    --secondary-color: rgb(53, 53, 53);
    --accent-blue: rgb(70, 135, 255);
    --error-red: rgb(233, 79, 79);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:target {
    outline: 2px solid white;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background: var(--content-bg);
    color: white;
    font-family: 'Inter', sans-serif;

    overflow: overlay;
}
.weight100 {font-weight: 100;}
.weight900 {font-weight: 900 !important;}
.pointer {cursor: pointer;}
.hover_underline:hover {text-decoration: underline;}
.flex {
    display: flex;
    align-items: flex-start;
}
.flex1 {
    flex: 1;
}
.center {text-align: center;}
.inline {display: inline;}
.block {display: block;}

.inline_icon {
    transform: translateY(-2px);
    vertical-align: middle;
    width: 20px;
}
#image_viewer .inline_icon {
    height: 16px;
    width: 16px;
}

iframe {
    max-width: 50%;
    width: 400px;
    height: 225px;

    margin-bottom: 40px;
    margin-right: 20px;
}
.visible {visibility: visible !important;}
.hidden {visibility: hidden !important;}
.overflow_hidden {overflow: hidden !important;}
.opacity0 {opacity: 0 !important;}

.hide_mouse {cursor: none !important;}

.position_absolute {position: absolute !important;}

/* Collapsible */
summary {
    cursor: pointer;
    /* padding-bottom: 6px; */

    padding: 12px;
    padding-left: 4px;
    position: sticky;
    top: 0;
    background-color: var(--content-bg);

    /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4); */
    border-bottom: 1px solid var(--border-color);

    transition: padding 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
summary:hover {
    padding-left: 12px;
    background-color: #292929;
    border-color: transparent;
}
details {
    margin-top: 4px;
    margin-bottom: 32px;
}
#player_popup details {
    margin-bottom: 4px;
}
#players a {
    color: white;
    text-decoration: none;
}
#players a:hover {text-decoration: underline;}

/* Select */
.sort_container {
    position: sticky;
    z-index: 10;
    float: right;
    margin-top: -16px;
}
#content .sort_container {
    margin-top: -60px;
}
select {
    width: 185px;
    font-size: 12pt;
    padding: 8px 16px;
    border: 2px solid transparent;
    background: var(--secondary-color);
    color: white;
}
select:disabled {
    cursor: not-allowed;
}
option {
    border: none;
}
.number_hidden_container {
    padding: 40px 0 30px;
    text-align: center;
}

/* Scrollbar */
::-webkit-scrollbar {
    /* background: var(--content-bg); */
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    /* background-color: rgb(73, 73, 73); */
    background-color: gray;
}
::-webkit-scrollbar-thumb:active {
    /* background: rgb(54, 54, 54); */
    background-color: rgb(73, 73, 73);
}

/* General */
h1, h2, h3 {
    font-family: 'Inter';
    margin-top: 20px;
    margin-bottom: 4px;
}
h1 {
    font-size: 32pt;
}
h2 {
    padding-top: 10px;
}
#content h1 {
    font-size: 40pt;
}
p {
    margin-top: 4px;
    margin-bottom: 4px;
}
.secondary_text {
    color: rgb(172, 172, 172) !important;
}
.small {
    padding-left: 4px;
    font-size: 13pt;
    font-weight: 500;
}

/* Above list */


/* List */
.bg_img_container {
    height: 100vh;
    width: 100%;

    position: fixed;
    z-index: -1;
    overflow: hidden;
}
#main_bg_img {
    height: 100vh;
    width: 100%;

    position: absolute;
    transform: translateY(-50px);

    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    /* background:
        linear-gradient(0deg, var(--content-bg) 0%, transparent 60%),
        linear-gradient(30deg, var(--content-bg) 40%, transparent 100%),
        url('images/Finna SMP/2021-07-12_19.01.18.png'); */
}
.big_background_animate {
    animation: big_background 0.5s ease forwards;
}
@keyframes big_background {
    from {
        transform: translateY(0px);
        opacity: 0;
    }
}

.main_container {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
}
.title_area {
    margin-top: 32px;
    max-width: calc(100% - 200px);
}
.world_item {
    height: 100px;
    /* background: rgba(255, 255, 255, 0.05); */
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);

    /* background:
        linear-gradient(90deg, rgb(39, 39, 39) 20%, transparent 100%),
        url('images/Finna SMP/2021-07-12_19.01.18.png'); */
    background-color:rgb(39, 39, 39) !important;
    background-size: cover !important;
    background-position: center !important;

    cursor: pointer;
    position: relative;
    z-index: 19;

    transition-property: transform, filter, box-shadow;
    transition-duration: 0.15s;
}
.world_item,
.list_separator,
#main_list .video_item {
    animation: list_anim 0.5s ease;
}
#main_list .video_item h3,
#main_list .video_item p {
    text-shadow: 0 1px 12px rgba(0, 0, 0, 0.4);
}
@keyframes list_anim {
    from {
        opacity: 0;
        transform: translateY(12px);
    }
}
.world_item:hover {
    filter: brightness(110%);
    transform: scale(1.005, 1.005);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
.world_item .title {
    font-size: 22pt;
    /* padding: calc(64px /2); */
    padding: 20px 32px 0;
}
.world_item h2 {
    max-width: calc(100% - 220px);
    text-overflow: ellipsis;
}
.world_item p {
    padding-left: 32px;
}
/* Separators */
.list_separator {
    margin-bottom: -10px;
    border-bottom: 1px solid var(--secondary-color);
}


/* Content Overlay */
#overlay_container {
    position: absolute;
    z-index: 100;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    visibility: hidden;
}
#backdrop {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    /* transition */

    visibility: hidden;
}
/* #backdrop.visible {
    
} */
.fade_in {animation: backdrop-fade 2s ease;}
.fade_out {animation: backdrop-fade 2s ease reverse forwards}
@keyframes backdrop_fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#content {
    width: 100%;
    max-width: 1000px;
    height: calc(100vh - 20px);
    
    overflow-y: auto;
    overflow-x: hidden !important;
    overflow: overlay;

    background: var(--content-bg);
    border: 1px solid var(--border-color);
    border-bottom: hidden;

    position: fixed;
    z-index: 50;
    bottom: 0;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    visibility: hidden;
}
.content_in {
    animation: content_slide 0.2s ease;
}
@keyframes content_slide {
    from {
        transform: translate(-50%, 100px) scale(0.98, 0.98);
        opacity: 0;
    }
}
.content_out {
    animation: content_out 0.2s ease forwards;
}
@keyframes content_out {
    to {
        transform: translate(-50%, 100px) scale(0.98, 0.98);
        opacity: 0;
    }
}
#content_back {
    position: sticky;
    text-shadow: 0px 1px 10px black;
    margin-top: -81px;
    z-index: 51;
    left: 0;
    top: 8px;
    cursor: pointer;
    padding: 30px;
    font-size: 13pt;
    
    width: fit-content;
    
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));
}
#content_back:hover {
    text-decoration: underline;
}
#back_arrow {
    width: 32px;
    margin-bottom: -10px;
    padding-right: 16px;
    filter: drop-shadow(0px 1px 10px black)
}
.rotate90 {transform: rotate(90deg);}
.rotate270 {transform: rotate(270deg);}

.viewer_button {
    cursor: pointer;
    opacity: 0.5;
    width: 85px;
    padding: 16px;
}
.viewer_button:hover {
    opacity: 1;
}
#viewer_info {
    position: absolute;
    z-index: 209;
    left: 0;
    bottom: 0;
    padding: 24px 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.viewer_info_delay {animation: image_info_delay 1.5s ease forwards;}
@keyframes image_info_delay {
    0% {
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#copy_image_url {
    width: auto;
}
#copy_image_url:hover::before {
    content: 'Click to copy a link to this screenshot';
    position: absolute;
    /* transform: translateX(calc(-50% + 20px)); */
    top: -30px;
    width: auto;
    text-align: center;
    padding: 12px 20px;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    font-weight: 500;
    animation: backdrop_fade 0.2s ease forwards;

    font-size: 11pt;
}
#copy_image_url.copied:hover::before {
    content: 'Copied!';
}


#viewer_tooltip {
    min-width: 500px;
    position: absolute;
    font-size: 20pt;
    text-align: center;
    z-index: 210;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;

    padding: 32px;
    background: rgba(0, 0, 0, 0.5);
    /* text-shadow: 0 4px 8px black; */
}
.image_in {animation: image_viewer 0.2s ease;}
.image_out {animation: image_viewer_r 0.2s ease forwards;}
@keyframes image_viewer {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
}
@keyframes image_viewer_r {
    to {
        transform: translateY(200px);
        opacity: 0;
    }
}

#header_area {
    width: 100%;
    min-height: 200px;
    max-height: 500px;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
#header_image {
    max-width: 100%;
    transition: transform 0.3s;
}
#header_image:hover {transform: scale(1.025, 1.025);}

.content_inner {
    margin: 0px 50px;
}
.content_margin {
    margin: 0px 50px;
}
.content_padding {
    padding: 0px 50px;
}
.title_container {
    position: absolute;
    left: 0px;
    bottom: 32px;
}
#title {
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}
#info_top {
    margin-top: 32px;
    margin-bottom: 0;
    border-bottom: 1px solid rgb(46, 46, 46);
}

/* .button_icon {
    height: 8px;
    width: 8px;
} */

/* Copy link */
#copy_link {
    margin-right: 16px;
    filter: brightness(50%);
    cursor: pointer;
}
#copy_link:hover {
    filter: brightness(100%);
}
#copy_link:hover::before {
    content: 'Copy a link to this page';
    position: absolute;
    transform: translateX(calc(-50% + 20px));
    top: -50px;
    width: max-content;
    text-align: center;
    padding: 12px 20px;
    background: rgba(0, 0, 0, 0.7);
    animation: backdrop_fade 0.2s ease forwards;

    font-size: 11pt;
}
#copy_link.copied:hover::before {
    content: 'Copied!';
}
#copy_link img {
    height: 40px;
    width: 40px;
    padding: 5px;
}

/* Download Button */
.download_button,
button {
    min-width: 185px;
    text-align: center;
    background: var(--accent-blue);
    font-size: 12pt;
    padding: 8px 30px;
    border: none;
    border: 2px solid transparent;
    color: white;
    text-decoration: none;

    cursor: pointer;
}
#content .buttons_container {
    float: right;
    margin-top: -60px;
}
.download_button:hover,
#load_images:hover/*,
select:hover*/ {
    border: 2px solid white;
}
.download_button.disabled {
    background: rgba(29, 29, 29, 0.8);
    border: 2px solid gray;
    color: gray;
    cursor: not-allowed;
}
.open_area {
    position: absolute;
    z-index: 25;

    width: 100%;
    height: 100%;
}
#main_list {
    padding-top: 16px;
    position: relative;
}
.list_dl {
    /* margin: 32px; */
    position: absolute;
    right: 32px;
    top: 30px;

    z-index: 30;
}
.pack_dl {
    background-color: rgb(41, 196, 54);
}

#load_images {
    float: none;
    margin: 0;
    margin-left: 50%;
    /* margin-bottom: 64px; */
    transform: translateX(-50%);
    background: rgb(53, 53, 53);
}
.download_button:active, #load_images:active {
    transform: translateY(2px);
    filter: brightness(70%);
}
#load_images:active {
    transform: translateY(2px) translateX(-50%);
}

/* Content Info */
.info_area {
    margin-top: 16px;
    display: flex;
}
.info_area *,
#description {
    font-weight: 100;
}
.info_area th {
    font-weight: 900;
}
.video_item {
    height: 240px;
    margin-bottom: 8px;
}
.info_area, #small_gallery {
    width: 100%;
}
#description {
    max-width: calc(100% - 250px);
    padding-bottom: 12px;
}

/* Youtube info */
.uploader_card {
    margin-top: 18px;
}
.yt_pfp {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.yt_name {
    padding-top: 10px;
    padding-left: 12px;
}

table * {
    border: none;
}
table {
    margin-left: -2px;
    margin-bottom: 32px;
    align-self: flex-start;
}
#player_popup table tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}
#player_popup table {
    width: 100%;
}


th, td {
    text-align: left;
    padding: 0px 8px;
}
th {
    padding-left: 0;
}

#players {
    max-width: 80%;
}

#small_gallery {
    width: calc(100% - 100px);
    position: relative;
    padding: 20px 0;
    margin-top: 16px;
    margin-bottom: 32px;
}

#small_gallery img {
    /* overflow: hidden; */
    /* object-fit: cover; */
    width: 50%;
    cursor: zoom-in;
    /* padding: 6px; */
}
#small_gallery img:hover {
    filter: brightness(110%);
}
#image_viewer {
    width: 100%;
    height: 100vh;
    /* background: red; */

    position: fixed;
    z-index: 200;
    top: 0;

    user-select: text;

    visibility: hidden;
}
.backdrop {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}
#enlarged {
    object-fit: cover;
    width: auto;
    -webkit-user-drag: none;
    /* max-width: calc(100vw - 50px); */
    max-width: 100%;
    max-height: 100vh;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    cursor: zoom-out;
}
.viewer_nav {
    width: 100%;
    position: absolute;
    bottom: 8px;
}

/* Footer */
#footer {
    width: 100%;
    background: rgb(37, 37, 37);
    color: rgb(212, 212, 212);
    padding-top: 16px;
    padding-bottom: 16px;
}
.footer_container {
    max-width: 800px;
    padding: 12px;
    margin: 0 auto;

    display: flex;
}
#footer a {
    color: white;
}
footer .column {
    flex: 1;
    position: relative;
}
footer .column:not(:last-of-type) {
    margin-right: 16px;
}

/* Social */
.social_container {
    position: absolute;
    top: -16px;
    right: 0;
    /* justify-content: middle; */
    padding: 4px;
    margin-top: 8px;
    background-color: var(--content-bg);
    border-radius: 50px;
    width: fit-content;
}
.social_img {
    width: 48px;
    padding: 6px;
    filter: brightness(80%);

    transition-property: transform, filter;
    transition-duration: 0.15s;
}
.social_img:hover {
    transform: scale(1.1, 1.1);
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.25)) brightness(100%);
}


/* Statistics viewer */
#player_popup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;

    visibility: hidden;
}
#player_popup_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 100%;
    min-width: 540px;
    max-height: 100vh;
    /* width: fit-content; */
    height: calc(95vh - 50px);

    overflow: overlay;

    background-color: var(--content-bg);
    border: 1px solid rgb(46, 46, 46);
    box-shadow: 0 2px 12px rgb(0 0 0 / 30%);
    padding: 0 32px 32px;

    font-weight: 100;
}
#player_popup.visible .backdrop {
    animation: backdrop_fade 0.2s;
}
#stats_table td {
    text-align: right;
}

.stats_player_select {
    position: absolute;
    right: 32px;
    top: 32px;
    user-select: none;

    display: flex;
}
.player_select_arrow {
    box-sizing: content-box;
    object-fit: contain;
    width: 32px;
    padding: 12px;
    cursor: pointer;
}
.player_select_arrow.disabled {
    cursor: unset;
    opacity: 0.3;
    pointer-events: none;
}
#stats_player_head {
    box-sizing: content-box;
    height: 48px;
    width: 48px;
    image-rendering: pixelated;
    border: 2px solid white;
    margin: 0 2px;

    transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 0;
}
#player_popup.visible #stats_player_head {
    opacity: 1;
}


/* Toasts */
#toasts {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    
    pointer-events: none;
}
#toast {
    background-color: var(--content-bg);
    border: 2px solid var(--border-color);
    font-size: 11pt;

    padding: 12px 24px;
    border-radius: 100px;

    transition-property: box-shadow, transform;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transform: translateY(0px);
}
#toast.in {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    transform: translateY(85px);
}
.error_x {
    font-weight: bolder;
    font-size: 13pt;
    color: var(--error-red);
    padding-right: 6px;

    vertical-align: middle;
    display: inline-block;
    transform: translateY(-1px) scale(1.3, 1.1);
}



/* Up to 1000px */
@media (max-width: 1000px) {
    #overlay_container {
        height: 90vh;
    }
    #content {
        border: none;
        height: 100%;
        top: 0;
        bottom: 0;
    }
    /* .content_inner {
        margin: 0;
        padding: 20px;
    } */
    .info_top {
        width: 100%;
        margin: 0;
    }
}
/* @media (max-width: 800px) {

} */

/* Up to 600px */
@media (max-width: 620px) {
    #content h1 {
        font-size: 24pt;
    }
    #small_gallery img {
        width: 100%;
    }
    .world_item {
        height: 160px;
    }
    .world_item h2.title {
        /* font-size: 20px; */
        max-width: 100%;
    }
    .world_item .download_button {
        top: unset;
        right: unset;
        left: 32px;
        bottom: 16px;
    }
    .sort_container {
        margin: 0 !important;
        float: none;
    }
    #content .sort_container {
        margin: 50px;
        margin-top: 0;
    }
    select {
        width: 100%;
    }
    .title_area {
        max-width: unset;
    }
    #description {
        max-width: 100%;
    }
    .info_area {
        display: inherit;
    }
    #content .buttons_container {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    #viewer_info {
        padding: 24px 32px;
    }
    footer {
        padding: 0 18px;
    }
    .footer_container {
        display: unset;
    }


    .video_item {
        display: unset;
    }
    .video_item h3 {
        margin-top: -24px;
    }
    .uploader_card {
        padding-bottom: 8px;
        border-bottom: 1px solid rgb(46, 46, 46);
        margin-bottom: 24px;
    }
    iframe {
        max-width: 100%;
    }
}