@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --bg: rgb(29, 29, 29);
    --bg-lighter: rgb(39, 39, 39);
    --bg-lightest: rgb(58, 58, 58);
    --highlight: rgb(88, 88, 88);
    --bg-transparent: rgba(48, 48, 48, 0.75);
    --border: rgb(75, 75, 75);
    --accent: #4687ff;

    --text: white;
    --alt-text: #CBCBCB;

    --container-width: 850px;
    --padding: 0 20px;
}
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    border: none;
}
/* Scrollbar */
::-webkit-scrollbar {
    /* background: var(--content-bg); */
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    /* background-color: rgb(73, 73, 73); */
    background-color: gray;
}
::-webkit-scrollbar-thumb:active {
    /* background: rgb(54, 54, 54); */
    background-color: rgb(73, 73, 73);
}
body {
    background-color: var(--bg);
    color: var(--text);
    scrollbar-gutter: stable;
}

body:has(.backdrop) {
    overflow: hidden;
}

button, .button, *[role="button"], summary {
    cursor: pointer;
}
button,
.button,
select {
    background-color: var(--bg-transparent);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);

    min-width: 185px;
    padding: 6px 30px;
    border: 1px solid var(--border);
    border-radius: 5px;

    font-size: 12pt;
    font-weight: 500;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    position: relative;
    overflow: hidden;

    /* margin-bottom: 6px; */
}
select {
    text-align: left;
    min-width: 150px;
    padding: 6px 15px;
    margin-right: 10px;
}
button[disabled] {
    color: var(--alt-text);
}
button > span {
    content: "";
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    z-index: 0;

    background-color: white;
    border-radius: 30px 30px 0 0;

    transform: translateY(100%) scale(0.8);
    transition: transform 0.1s ease, border-radius 0.15s ease;
}
button:hover,
button:focus-visible {
    z-index: 1;
    box-shadow: 0 4px 20px rgba(70, 135, 255, 0.35);
}
button:hover > p {
    color: black;
    position: relative;
    z-index: 1;
}
button:hover > span {
    transform: unset;
    border-radius: 0;
}
button:hover g-icon path { --fill: black; }
button.button_blue {
    background-color: var(--accent);
    border-color: var(--accent);
}



/* Title */
*[data-title] { position: relative; }
*[data-title]::after {
    content: attr(data-title);
    position: absolute;
    z-index: 1;
    top: calc(100% + 6px);
    left: 50%;
    width: max-content;

    background-color: var(--bg);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px 16px;

    opacity: 0;
    pointer-events: none;
    transform-origin: top;
    transform: translateX(-50%) translateY(-4px) scale(0.9);
    transition: transform 0.1s ease, opacity 0.1s ease;
}
*[data-title].title_above::after {
    top: unset; bottom: calc(100% + 6px);
    transform: translateX(-50%) translateY(4px) scale(0.9);
    transform-origin: bottom;
}
*[data-title]:hover::after {
    opacity: 1;
    transform: translateX(-50%);
}


.container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: var(--padding);
    /* outline: 1px solid white; */
}
.col {
    width: 100%;
}
.alt_text { color: var(--alt-text); }
strong, .emphasize { color:var(--text); }
.gray { color: gray; }
.weight_500 { font-weight: 500; }
.flex { display: flex; }
.fcenter { display: flex; justify-content: center; align-items: center; }
.hover_underline:hover { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}
h1 { font-size: 36pt; }
h2 { font-size: 26pt; }
h3 { font-size: 22pt; }
h4 { font-size: 18pt; }
h5 { font-size: 16pt; margin: 4px 0; }
/* h6 { font-size: 32pt; } */


table {
    width: 100%;
}
table th {
    text-align: left;
}
table th, table td {
    padding: 3px 5px;
}
table tr:nth-child(odd) {
    background-color: var(--bg-lightest);
}


/* Misc */
g-icon {
    --fill: var(--alt-text);
    vertical-align: -16%;
    width: 22px; height: 22px;
}
g-icon svg {
    width: 22px; height: 22px;
    margin-bottom: -2px;
}
g-icon.small {
    vertical-align: 3%;
}
g-icon.small svg {
    width: 16px; height: 16px;
}
g-icon:not(:last-child) { margin-right: 8px; }
g-icon path { fill: var(--fill); }
strong g-icon path,
.emphasize g-icon path { --fill: var(--text); }

#bg_image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -1;

    --image: url('/FinnaSMP/2021-07-12_19.18.25.png');
    background-image:
        linear-gradient(0deg, var(--bg) 0%, transparent 60%),
        linear-gradient(30deg, var(--bg) 40%, transparent 100%),
        var(--image);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;

    transform: translateY(0px);
    will-change: transform;
}


/* Slider tabs */
.tabs {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    padding: 6px;
}
.tabs > .item {
    font-size: 14pt;
    opacity: 0.5;
    padding: 5px 24px;
    border-radius: 100px;
}
.tabs > .item:hover,
.tabs > .item:focus-visible {
    text-decoration: underline;
}
.tabs > .item.active {
    font-weight: bolder;
    opacity: 1;
    color: black;
    background-color: white;
}


/* Nav */
.main_header {
    margin-top: 60px;
}
.main_nav {
    display: flex;
    margin: 20px auto;
    align-items: center;
}
.main_nav .buttons {
    margin-left: auto;
}

/* List */
worlds-list {
    display: block;
}

.separator {
    font-size: 1.6em;
    margin-bottom: 10px;
    margin-top: 35px;
    border-bottom: 2px solid var(--border);
}

world-item {
    display: flex;
    position: relative;

    background: linear-gradient(90deg, var(--bg-lighter) 20%, transparent 100%), var(--image);
    padding: 20px 30px !important;
    margin-bottom: 15px !important;
    
    background-color: var(--bg-lighter) !important;
    background-size: cover !important;
    background-position: center !important;

    border-radius: 5px;
    border: 1px solid var(--border);
    transition: transform 0.08s ease, box-shadow 0.1s ease;
    animation: list_anim 1.2s cubic-bezier(0.19, 1, 0.22, 1) backwards;
    animation-delay: var(--anim-delay);
}
@keyframes list_anim {
    from {
        opacity: 0;
        transform: translateY(calc(12px + var(--anim-distance)));
    }
}
world-item:hover,
world-item:focus-visible {
    z-index: 1;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(64, 64, 64, 0.6);
}
world-item .col.right {
    width: unset;
    margin-left: auto;
}
world-item h3 {
    padding-bottom: 3px;
}
world-item .icons {
    background-color: var(--bg-transparent);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);

    padding: 5px 12px;
    border-radius: 0 0 10px 10px;
}
world-item button {
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--border);
}
/* world-item .icons g-icon path { fill: var(--text);} */
/* world-item .icons g-icon:hover { transform: scale(1.1); } */
world-item .icons g-icon:hover path { fill: var(--text); }




/* Footer */
#footer {
    border-top: 1px solid var(--border);
    padding: 25px 0;
    margin-top: 50px;
}


/* Media */
@media screen and (max-width: 680px) {
    world-item {
        flex-direction: column;
    }
    world-item .col.right { margin-top: 12px; margin-left: unset; }
    world-item button { width: 100%; }

    .media_flex {
        flex-direction: column;
    }
    .col {
        border: none !important;
        padding: unset !important;
    }
    .col:not(:first-of-type) {
        margin-top: 20px;
    }

    img-info {
        flex-direction: column;
        text-align: center;
        padding: 20px 10px !important;
    }
    img-info .right {
        padding: 20px 0 0 0 !important;
        text-align: center !important;
    }
}







/* World page */
#world {
    --container-width: 1050px;
    position: relative;
}
#world h3 { padding-bottom: 6px; }
body:has(#world) #bg_image {
    filter: blur(12px) brightness(80%);
}
#world header {
    background-color: var(--bg);

    min-height: 200px;
    max-height: 450px;
    padding: 0 !important;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid var(--border);

    position: relative;
    overflow: hidden;
}
#world header button.close {
    position: absolute;
    left: 32px;
    top: 20px;
    min-width: unset;
    padding: 12px;
    font-size: 12pt;
    font-weight: 500;
}
#world header img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    /* height: auto; */
    margin: 0;
    /* transition: transform 0.25s; */
}
/* #world header img:hover {
    transform: scale(1.02);
} */
#world .banner {
    z-index: 1;
    position: relative;
    margin-top: -52px;
    padding: 20px 32px;
    align-items: center;
    width: 100%;
    /* justify-content: space-between; */
}
#world .banner h1 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
#world .banner > .buttons {
    display: flex;
    margin-left: auto !important;
    /* outline: 1px solid red; */
}
#world .banner button {
    padding: 10px 30px;
}
button.dropdown {
    width: 45px;
    min-width: unset;
    padding-left: 12px !important;
    padding-right: 12px !important;
}
/* #world .banner > *:first-child:not(:last-child) > button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: 2px solid red;
} */
#world .banner > *:last-child:not(:first-child) > button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#world .info {
    margin-bottom: 3px;
    width: 100%;
}

#world .tags {
    /* margin-bottom: 24px; */
    flex-wrap: wrap;
}
#world .tag {
    --color: white;
    --bg: color-mix(in lch, var(--color) 35%, black);

    color: var(--color);
    background-color: var(--bg);
        /* background-color: rgba(83, 113, 148, 0.4); */

    padding: 5px 15px;
    margin: 0 6px 6px 0;
    border-radius: 100px;

    cursor: pointer;
    transition: background-color 0.08s ease;
}
#world .tag:hover {
    color: var(--bg);
    background-color: var(--color);
}
#world .tag g-icon path { --fill: var(--color); }
#world .tag:hover g-icon path { --fill: var(--bg); }

#world .item {
    background-color: var(--bg-transparent);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    padding: 20px 32px;
    border-radius: 10px;
    margin-bottom: 24px;
}
#world .item p:has(g-icon)::first-line {
    line-height: 100%;
}
#world .item p {
    margin-top: 5px;
    line-height: 140%;
    font-size: 11pt;
}
#world .item.nopad {
    padding: 0;
    overflow: hidden;
}
iframe {
    width: 100%;
    min-height: 300px;
}

#world .col:not(:last-child) {
    border-right: 1px solid var(--border);
    padding-right: 16px;
    
}
#world .col:not(:first-child) {
    padding-left: 32px;
}

.players span {
    padding-right: 3px;
}
.players span:hover,
.players span:focus-visible {
    text-decoration: underline;
    color: var(--alt-text);
    cursor: pointer;
}

player-stats .close {
    margin-bottom: 15px;
    width: 100%;
    position: sticky;
    top: 0px;
}


/* Gallery */
#images {
    background-color: unset !important;
}
w-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px , 1fr));
    grid-gap: 6px;
}
w-gallery img {
    background-color: var(--bg);
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    transition: transform 0.15s ease, box-shadow 0.2s ease;
    border: 2px solid transparent;
}
w-gallery img:hover,
w-gallery img:focus-visible {
    z-index: 1;
    filter: brightness(110%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
    transform: scale(1.07) translateY(-1px) perspective(650px) rotateX(6deg);
    border-color: lightgray;
}

.backdrop {
    position: fixed;
    z-index: 1;
    top:0;right:0;bottom:0;left:0;

    background: rgba(15, 15, 15, 0.8);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);

    animation: backdrop-in 0.25s ease;
}
@keyframes backdrop-in {
    from { opacity: 0; }
}
img-enlarged {
    position: fixed;
    z-index: 3;
    top:0;right:0;bottom:0;left:0;

    display: flex;
    justify-content: center;
    align-items: center;
}
img-enlarged > img {
    height: 100vh;
    width: 100vw;
    object-fit: contain;
}

img-info {
    position: absolute;
    bottom:0;left:0;right:0;
    z-index: 1;

    padding: 24px 96px;

    background-color: rgba(12, 12, 12, 0.85);

    display: flex;
}
img-info p {
    padding-bottom: 4px;
}
img-info > div {
    /* width: 100%; */
}
img-info .right {
    margin-left: auto;
    padding-left: 20px;
    text-align: right;
}
/* img-info nav {
    display: flex;
    justify-content: center;
}
img-info nav img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    margin: 0 1px;
} */
/* img-enlarged {
    animation: image_viewer 0.2s ease;
}
@keyframes image_viewer {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
} */
img-enlarged.idle img-info {
    animation: image_info_delay 1s ease forwards 1.5s;
}
@keyframes image_info_delay {
    to { opacity: 0; }
}

img.img_anim {
    border-radius: 5px;
    border: 2px solid transparent;

    /* transition: transform 0.25s ease, width 0.27s ease; */
    transition: 0.35s cubic-bezier(0.19, 0.8, 0.22, 1);
    object-fit: contain;

    position: fixed;
    top:0; left:0;
    z-index: 2;
}



/* Stats */
player-stats {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;

    overflow: hidden;
    border-radius: 10px;
    border: 1px solid var(--border);

    background-color: var(--bg);

    width: 100%;
    max-width: 800px;
    height: 100vh;
    max-height: 700px;
}

player-stats .col.left {
    padding-right: 24px;
    max-width: 230px;
    padding: 12px;
    /* border-right: 1px solid var(--border); */
}
player-stats .player {
    display: flex;
    align-items: center;
    color: var(--alt-text);
    font-weight: 600;

    padding: 7px 20px;
    margin-bottom: 3px;
    border-radius: 6px;
    border: 2px solid transparent;

    transition: background-color 0.3s ease, border-color 0.8s ease;
}
player-stats .player:hover {
    background-color: var(--bg-transparent);
    transition: background-color 0.05s ease;
    border-color: var(--bg-transparent);
    color: var(--text);
}
player-stats .player.active {
    color: var(--text);
    background-color: var(--accent);
    /* color: black; */
}
player-stats .player img {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

player-stats .col {
    overflow-y: auto;
}
player-stats .col.right {
    padding: 20px 30px;
    background-color: var(--bg-lighter);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
player-stats .compare {
    display:flex;
    justify-content: center;
    align-items: center;
}
player-stats th {
    width: 210px;
}
player-stats td {
    width: auto;
}
player-stats tr {
    cursor: pointer;
}
player-stats tr:hover {
    background-color: var(--highlight);
}
player-stats .compare {
    opacity: 0;
    background-color: var(--bg-lighter);
}
player-stats tr:hover .compare {
    opacity: 1;
    background-color: var(--accent);
}
player-stats summary {
    padding: 12px 6px;
    border-top: 1px solid var(--border);
    transition: padding 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
player-stats summary:hover {
    background-color: var(--bg-lightest);
    padding-left: 16px;
    border-radius: 5px;
}

player-stats summary:hover,
player-stats details:first-of-type summary,
player-stats details:hover + details summary {
    border-color: transparent;
}


.auto_collapse {
    margin-left: auto;
    padding: 8px 12px;
}
